backups
crash-reports
dowloads
journeymap/*
!journeymap/config
local
logs
patchouli_books
schematics
trees
.curseclient
knownkeys.txt
options.txt
reauth.toml
usercache.json
usernamecache.json
saves
minecraftinstance.json
